<ion-view class="pane">
  <ion-header-bar align-title="center" class="bar bar-positive" xattr-theme="bar-positive" data-component="crn-ion-header-bar">
    <div class="buttons buttons-left header-item">
      <button class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
    <h1 class="title">Title</h1>
    <div class="buttons buttons-right header-item">
      <button class="button button-clear" menu-toggle="right" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
  </ion-header-bar>
  <ion-content data-component="crn-ion-content" class="scroll-content has-header">
  <div data-replace="true" data-component="crn-container" class="component-holder" id="crn-container-282032">&nbsp;</div><button class="button button-block button-positive component-holder" type="submit" xattr-fullsize="button-block" xattr-theme="button-positive" ng-click="cronapi.client('js.blockly.AbrirModal.Executar').run()" data-component="crn-button" id="crn-button-896155"><i class="ion ion-home"></i> <span>Abrir Modal</span></button></ion-content>
</ion-view>
 <script type="text/ng-template" id="modal35710"><ion-modal-view>
   <ion-header-bar align-title="center" class="bar bar-positive" data-component="crn-ion-header-bar" xattr-theme="bar-positive">
     <h1 class="title">Modal title</h1>
   </ion-header-bar>
  <ion-content class="scroll-content has-header" data-component="crn-ion-content">
     <div qr="true" ng-model="vars.QR55437" data-component="crn-QRCode" class="component-holder col-xs-12" ng-show="true" id="QR55437"><div class=""> </div> </div>  </ion-content>
  </ion-modal-view></script>
